@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: "Outfit", serif;
} */

@layer components {
  .header_top_icon_wrapper {
    @apply flex items-center justify-between p-1 hover:bg-red-300 hover:text-white rounded-md
    cursor-pointer;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows (spinners) for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%);
}
